<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js"></script>


<!--index.js 추가-->
<script src="/js/app/index.js?ver=1"></script>
<style>
    td, th {
        text-align: center;
        vertical-align: center;
    }
</style>
</body>
</html>